.input-wrapper {
    width: 300px;
    height: 2.5rem;
    border: 2px solid;
    border-radius: 25px;
    padding: 0 15px;
    background-color: #ffffff;
    margin: 0 30px;
    display: flex;
    align-items: center;
    transition: 0.3s ease;
}

.input-wrapper:hover{
    transition: 0.3s ease;
    border: 2px solid #696969;
    box-shadow: 0 0 8px #4b4b4b;
}

.input-wrapper:focus{
    transition: 0.3s ease;
    box-shadow: 0 0 8px #000000;
}

input {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.00rem;
    width: 100%;
    margin-left: 5px;
}

input:focus {
    outline: none;
}

.search-icon {
    color: #000000;
    transition: 0.3s ease;
}

.search-icon:hover {
    transition: 0.3s ease;
    color: #696969;
}

