:root {
    --primary-white: #FFFFFF;
    --primary-black: #1C1C1C;
    --black-light: rgb(56, 56, 56);
    --main-color: #EDEDED;
    --border-color: #3F3F3F;
    --hover-color: #000000;
    --hover-dark-white: #a8a8a8;
    --scrollbar-color: #818181;
    --horizontal-line-color: #797979;
}

.root {
    position: relative;
}

* {
    font-family: 'Forum', sans-serif;
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}

body {
    font-family: 'Forum', sans-serif;
    font-weight: 500;
    background-color: var(--main-color);

}

body::-webkit-scrollbar {
    margin-right: 30px;
    width: 5px;
}

body::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: var(--scrollbar-color);
}

body::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: var(--primary-black);
    outline: 1px solid slategrey;
}

main {
    width: 90vw;
    padding: 30px 20px;
    margin: 0 auto;
    min-height: calc(100vh - 141px - 291px)
}

li {
    font-weight: 500;
    font-size: 16px;
    color: var(--primary-black);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 0;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav-links {
    list-style: none;
}

p {
    font-weight: 400;
    position: relative;
    display: inline-block;

}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links a {
    font-size: 38px;
    text-decoration: none;
    color: var(--primary-black);
    font-weight: 500;
}

.nav-links-main {
    text-align: center;
    margin-top: 120px;
    list-style: none;
}

.nav-links-main li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links-main a {
    font-size: 38px;
    text-decoration: none;
    color: var(--primary-black);
    font-weight: 500;
}

.nav-links li {
    transition: all 0.3s ease 0s;
}


.input-box {
    position: relative;
    height: 76px;
    max-width: 600px;
    width: 100%;
    margin: 0 0 0 300px;
    border-radius: 35px;
}

.input-box i,
.input-box .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.input-box i {
    left: 20px;
    font-size: 40px;
}

.input-box input {
    height: 100%;
    width: 90%;
    outline: none;
    font-size: 35px;
    font-weight: 400;
    border-color: var(--primary-black);
    border-width: 3px;
    border-radius: 35px;
    padding: 0 155px 0 65px;
    border-style: solid;
    background-color: transparent;
}

.input-box .button {
    background-color: transparent;
    height: 30px;
    width: 30px;
    right: 80px;
    font-size: 20px;
    font-weight: 400;
    border: none;
    padding: 25px 40px;
    border-radius: 100px;
    cursor: pointer;

}

.input-box .button:hover {

}

.input::placeholder {
    font-weight: 700;
}

/* Horizontal line */

hr {
    border-color: var(--primary-black);
    border-width: 2px;
    border-style: solid;
    height: 1px;
}

/* Responsive */

@media screen and (max-width: 500px) {
    .input-box {
        height: 66px;
        margin: 0 8px;
    }

    .input-box i {
        left: 12px;
        font-size: 25px;
    }

    .input-box input {
        padding: 0 112px 0 50px;
    }

    .input-box .button {
        right: 12px;
        font-size: 14px;
        padding: 8px 18px;
    }
}


/* PRODUCT PLACEMENT */

.product-list {
    position: relative;
    width: 700px;
    height: 500px;
    margin-left: 30px;
}

.list-title-container {
    text-align: center;
}

.hrivnya-icon {
    text-align: center;
    position: relative;
    width: 30px;
    height: 30px;
}

i {
    margin-left: 15px;
    font-size: 30px;
}

.refactor-buttons {
    height: 60px;
    width: 60px;
    align-items: flex-end;
}

.delete-button {
    cursor: pointer;
    border-style: none;
    background-color: transparent;
    position: relative;
    text-align: center;
    width: 1px;
    height: 1px;
}

.edit-button {
    cursor: pointer;
    border-style: none;
    background-color: transparent;
    position: relative;
    text-align: center;
    width: 1px;
    height: 1px;
}


.delete-button-container {

}

.edit-button-container {

}

.added-product-list {
    list-style: none;
    padding: 0 20px;
}

.product-additional-list {
    width: 500px;
    display: flex;
}

.products-titles {
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: 50px;
    border-bottom: 2px solid var(--horizontal-line-color);


}

.list-title-container {

}

.product-name-title {
    display: inline-block;
    position: relative;
    left: 0;
    bottom: 0;
    height: 50px;
    margin-left: 77px;
}

.product-illustration-title {
    display: inline-block;
    position: relative;
    left: 0;
    bottom: 0;
    height: 50px;
}


.product-price-title {
    display: inline-block;
    position: relative;
    bottom: 0;
    margin-left: 70px;
}

.product-id-title {
    display: inline-block;
    position: relative;
    right: 0;
    bottom: 0;
    margin-left: 77px;
}

h2 {
    font-weight: 400;
}

h4 {
    color: var(--horizontal-line-color);
    margin-top: 30px;
    right: 0;
    bottom: 0;
    position: relative;
    font-weight: 600;
}


.product-additional-list li {
    display: inline-block;
}

.props-added-photo-button-container {
    width: 102px;
    height: 102px;
    border-radius: 9px;
    margin-right: 20px;
    margin-top: 30px;

}

.props-product-name {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    width: 100px;
    inline-size: 100px;
    overflow-wrap: break-word;
}

.props-product-price {
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    width: 100px;
    inline-size: 100px;
    overflow-wrap: break-word;
}




.props-product-id {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    width: 100px;
    inline-size: 100px;
    overflow-wrap: break-word;
}

.product-point {
    display: inline-block;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    position: relative;
    text-align: center;
}

button i {
    display: inline-block
}

li {
    text-decoration: none;
    list-style: none;
}

.product-manager {
    margin: 50px 0 50px;
    position: relative;
    display: flex;
    max-width: 1700px;
}

.root-container {
    position: relative;
    display: flex;
}

.div-button {
    position: relative;
    width: 255px;
    display: inline-block;
}

.refactor-fields {
    margin-top: 210px;
    margin-left: 30px;
    width: 500px;
    float: right;
}

.refactor-fields-properties {
    margin: 0;
    width: 250px;;
}

.product-placement-title {
    width: 500px;
    font-weight: 500;
    margin-bottom: 41px;
}

.input-product {
    background-color: transparent;
    margin-bottom: 20px;
    color: #000000;
    font-size: 40px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

.input-product::placeholder {
    font-size: 25px;
    padding-left: 13px;
}

.input-price-product {
    width: 170px;
    background-color: transparent;
    margin-bottom: 20px;
    color: #000000;
    font-size: 40px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

.input-amount-product{
    width: 170px;
    background-color: transparent;
    margin-bottom: 20px;
    color: #000000;
    font-size: 40px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

.input-discount-product{
    width: 170px;
    background-color: transparent;
    margin-bottom: 20px;
    color: #000000;
    font-size: 40px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

.input-price-product::placeholder {
    font-size: 25px;
    padding-left: 13px;
}

.input-amount-product::placeholder {
    font-size: 25px;
    padding-left: 13px;
}

.input-discount-product::placeholder {
    font-size: 25px;
    padding-left: 13px;
}

.product-list-container {
    margin-top: 60px;
    padding: 50px;
    position: fixed;
    left: 0;
}

.button-select-currency {
    position: relative;
    bottom: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 50px;
    background-color: var(--primary-black);
    font-size: 19px;
    font-weight: 500;
    border-radius: 15px;
    color: var(--primary-white);
    border-style: none;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.button-select-currency:hover {
    background-color: var(--hover-color);
    transition: 0.2s ease-out;
    cursor: pointer;
}

.adding-product-button {
    margin: 1px 0 10px 10px;
    width: 270px;
    height: 70px;
    background-color: var(--primary-black);
    font-size: 30px;
    font-weight: 500;
    border-radius: 15px;
    color: var(--primary-white);
    border-style: none;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.button-container {
    text-align: center;
}

.adding-product-button:hover {
    background-color: var(--hover-color);
    transition: 0.2s ease-out;
}

.upload-product-photo {
    margin-bottom: 20px;
    color: var(--primary-black);
    position: relative;
    display: inline-block;
    width: 255px;
    height: 255px;
    background-color: transparent;
    border: 1px solid #3F3F3F;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.upload-product-photo:hover {
    color: var(--primary-white);
    position: inherit;
    width: 255px;
    height: 255px;
    background-color: var(--primary-black);
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s ease-out;
}


/* FOOTER */


.footer {
    position: relative;
    bottom: inherit;
    border-radius: 15px;
    background-color: var(--primary-black);
    padding: 70px 0;
    display: flex;
    margin: auto 15px 15px 15px;
}

.footer-container {
    max-width: 1170px;
    margin: auto;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: var(--primary-white);
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
    font-weight: 400;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    cursor: pointer;
    font-size: 16px;
    text-transform: capitalize;
    color: var(--primary-white);
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: var(--hover-dark-white);
    padding-left: 8px;
}

.footer-list {
    list-style: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* RESPONSIVE FOR FOOTER */

@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}


