:root {
    --primary-white: #FFFFFF;
    --primary-black: #1C1C1C;
    --black-light: rgb(56, 56, 56);
    --main-color: #EDEDED;
    --border-color: #3F3F3F;
    --hover-color: #000000;
    --hover-dark-white: #a8a8a8;
    --scrollbar-color: #818181;
    --horizontal-line-color: #797979;
    --primary-additional-black: #131313;
    --primary-secondary-color: #DFDFDF;
    --title-head-color: #C1C1C1;
    --title-footer-color: #E16565;
    --title-footer-hover-color: #ff8585;
}

.root {
    position: relative;
}

* {
    font-family: 'Forum', sans-serif;
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}

body {
    font-family: 'Forum', sans-serif;
    font-weight: 500;
    background-color: var(--main-color);

}

body::-webkit-scrollbar {
    margin-right: 30px;
    width: 5px;
}

body::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: var(--scrollbar-color);
}

body::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: var(--primary-black);
    outline: 1px solid slategrey;
}

main {
    /* width: 90vw;
     padding: 30px 20px;*/
    margin: 0 auto;
    min-height: calc(100vh - 141px - 291px)
}

li {
    font-weight: 500;
    font-size: 16px;
    color: var(--primary-black);
    text-decoration: none;
}

/* HEADER */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 0;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav-links {
    list-style: none;
}

/*p {
    font-weight: 400;
    position: relative;
    display: inline-block;

}*/

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links a {
    font-size: 30px;
    text-decoration: none;
    color: var(--primary-black);
    font-weight: 500;
}

.nav-links-main {
    text-align: center;
    margin-top: 120px;
    list-style: none;
}

.nav-links-main li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links-main a {
    font-size: 38px;
    text-decoration: none;
    color: var(--primary-black);
    font-weight: 500;
}

.nav-links li {
    transition: all 0.3s ease 0s;
}


.input-box {
    position: relative;
    height: 76px;
    max-width: 600px;
    width: 100%;
    margin: 0 0 0 300px;
    border-radius: 35px;
}

.input-box i,
.input-box .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.input-box i {
    left: 20px;
    font-size: 40px;
}

.input-box input {
    height: 100%;
    width: 90%;
    outline: none;
    font-size: 35px;
    font-weight: 400;
    border-color: var(--primary-black);
    border-width: 3px;
    border-radius: 35px;
    padding: 0 155px 0 65px;
    border-style: solid;
    background-color: transparent;
}

.input-box .button {
    background-color: transparent;
    height: 30px;
    width: 30px;
    right: 80px;
    font-size: 20px;
    font-weight: 400;
    border: none;
    padding: 25px 40px;
    border-radius: 100px;
    cursor: pointer;

}

.input-box .button:hover {

}

.input::placeholder {
    font-weight: 700;
}

/* Horizontal line */

hr {
    border-color: var(--primary-black);
    border-width: 2px;
    border-style: solid;
    height: 1px;
}

/* Responsive */

@media screen and (max-width: 500px) {
    .input-box {
        height: 66px;
        margin: 0 8px;
    }

    .input-box i {
        left: 12px;
        font-size: 25px;
    }

    .input-box input {
        padding: 0 112px 0 50px;
    }

    .input-box .button {
        right: 12px;
        font-size: 14px;
        padding: 8px 18px;
    }
}

/* BODY */

.main-page-container {
    margin-top: 150px;
    width: 100%;
    height: 880px;
    display: flex;
    background-image: url("./images/body.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}

.main-page-paragraph {
    height: 300px;
    width: 600px;
}

.main-page-head-title {
    height: 28px;
    font-size: 40px;
    color: var(--title-head-color);
    font-weight: 400;
    margin: 0 0 0 0;
}

.main-page-body-title {
    font-size: 57px;
    color: var(--primary-white);
    font-weight: 400;
    margin: 0 0 0 30px;
}

.bottom-image-container{
    position: relative;
    display: flex;
    height: 800px;
    width: 1500px;
    background-color: var(--primary-white);
}
.wrapper-bottom-image-container{
    margin-top: 100px;

    background-color: var(--primary-white);
    width: 100%;
    height: 1111px;
}
.main-image-information-block{
    margin-left: 50px;
    width: 900px;
}

.p-head{
    margin: 0 0 20px 0;
    font-size: 35px;
}

.p-body{
    margin: 0 0 30px 0;
    font-size: 40px;
}

.adding-to-cart{
    width: 270px;
    height: 70px;
    background-color: var(--primary-black);
    font-size: 30px;
    font-weight: 500;
    border-radius: 15px;
    color: var(--primary-white);
    border-style: none;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.p-footer{
    width: 500px;
    margin: 0 0 30px 0;
    font-size: 35px;
}

.main-page-footer-title {
    text-align: center;
    border: 2px solid var(--title-footer-color);
    font-size: 50px;
    font-weight: 400;
    width: 460px;
    height: 70px;
    margin: 0 0 0 197px;
}

.main-page-footer-title a {
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 30px;
    color: var(--title-footer-color);
    text-decoration: none;
    transition: 0.2s ease-out;
}

.main-page-footer-title a:hover {
    color: var(--title-footer-hover-color);
    transition: 0.2s ease-out;
}


/*SLIDER*/


.main-container-slider {
    display: flex;
    position: relative;
    width: 1110px;
    height: 600px;
}

.container {
    height: 470px;
    max-width: 1320px;
    width: 100%;
    padding: 40px 0;
}

.slide-container {
    margin: 0 30px;
    overflow: hidden;
}

.card {
    background: rgba(255, 255, 255, 0);
}

.card .image-box {
    height: 205px;
}

.card .image-box img {
    margin-top: 10px;
    margin-left: 14px;
    max-width: 300px;
    max-height: 300px;
    width: 89%;
    height: 110%;
    border-radius: 15px;
}

.card .profile-details {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 15px;
}

.card .profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.profile-details .name {
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-black);
}

.main-parameters {
    text-align: left;
    margin: 20px 0 0 0;
}


.price {
    color: var(--horizontal-line-color);
    margin-top: 10px;
    right: 0;
    bottom: 0;
    position: relative;
    font-weight: 700;
}

.slider-paragraph {
    margin-left: 40px;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 500;
}


.profile-details .price {
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-black);
}

.swiper-navBtn {
    color: #000;
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 50%;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 1px;
    color: black;
}

.swiper-pagination-bullet {
    background-color: #000;
}

@media screen and (max-width: 768px) {
    .swiper-navBtn {
        display: none;
    }
}

/* PRODUCT PLACEMENT */

.product-list {
    position: relative;
    width: 700px;
    height: 500px;
    margin-left: 30px;
}

.list-title-container {
    text-align: center;
}

.hrivnya-icon {
    text-align: center;
    position: relative;
    width: 30px;
    height: 30px;
}

i {
    margin-left: 15px;
    font-size: 30px;
}

.refactor-buttons {
    height: 60px;
    width: 60px;
    align-items: flex-end;
}

.delete-button {
    cursor: pointer;
    border-style: none;
    background-color: transparent;
    position: relative;
    text-align: center;
    width: 1px;
    height: 1px;
}

.edit-button {
    cursor: pointer;
    border-style: none;
    background-color: transparent;
    position: relative;
    text-align: center;
    width: 1px;
    height: 1px;
}


.delete-button-container {

}

.edit-button-container {

}

.added-product-list {
    list-style: none;
    padding: 0 20px;
}

.product-additional-list {
    width: 500px;
    display: flex;
}

.products-titles {
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: 50px;
    border-bottom: 2px solid var(--horizontal-line-color);


}

.list-title-container {

}

.product-name-title {
    display: inline-block;
    position: relative;
    left: 0;
    bottom: 0;
    height: 50px;
    margin-left: 77px;
}

.product-illustration-title {
    display: inline-block;
    position: relative;
    left: 0;
    bottom: 0;
    height: 50px;
}


.product-price-title {
    display: inline-block;
    position: relative;
    bottom: 0;
    margin-left: 70px;
}

.product-id-title {
    display: inline-block;
    position: relative;
    right: 0;
    bottom: 0;
    margin-left: 77px;
}

h2 {
    font-weight: 400;
}

h4 {
    color: var(--horizontal-line-color);
    margin-top: 30px;
    right: 0;
    bottom: 0;
    position: relative;
    font-weight: 600;
}


.product-additional-list li {
    display: inline-block;
}

.props-added-photo-button-container {
    width: 102px;
    height: 102px;
    border-radius: 9px;
    margin-right: 20px;
    margin-top: 30px;

}

.props-product-name {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    width: 100px;
    inline-size: 100px;
    overflow-wrap: break-word;
}

.props-product-price {
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    width: 100px;
    inline-size: 100px;
    overflow-wrap: break-word;
}


.props-product-id {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    width: 100px;
    inline-size: 100px;
    overflow-wrap: break-word;
}

.product-point {
    display: inline-block;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    position: relative;
    text-align: center;
}

button i {
    display: inline-block
}

li {
    text-decoration: none;
    list-style: none;
}

.product-manager {
    margin: 50px 0 50px;
    position: relative;
    display: flex;
    max-width: 1700px;
}

.root-container {
    position: relative;
    display: flex;
}

.div-button {
    position: relative;
    width: 255px;
    display: inline-block;
}

.refactor-fields {
    margin-top: 210px;
    margin-left: 30px;
    width: 500px;
    float: right;
}

.refactor-fields-properties {
    margin: 0;
    width: 250px;;
}

.product-placement-title {
    width: 500px;
    font-weight: 500;
    margin-bottom: 41px;
}

.input-product {
    background-color: transparent;
    margin-bottom: 20px;
    color: #000000;
    font-size: 40px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    padding: 0 5px;

}


.input-product::placeholder {
    font-size: 25px;
    padding-left: 13px;
}

.input-price-product {
    width: 170px;
    background-color: transparent;
    margin-bottom: 20px;
    color: #000000;
    font-size: 40px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    padding: 0 5px;

}

.input-amount-product {
    width: 170px;
    background-color: transparent;
    margin-bottom: 20px;
    color: #000000;
    font-size: 40px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    padding: 0 5px;

}

.input-discount-product {
    width: 170px;
    background-color: transparent;
    margin-bottom: 20px;
    color: #000000;
    font-size: 40px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    padding: 0 5px;

}

.input-price-product::placeholder {
    font-size: 25px;
    padding-left: 13px;
}

.input-amount-product::placeholder {
    font-size: 25px;
    padding-left: 13px;
}

.input-discount-product::placeholder {
    font-size: 25px;
    padding-left: 13px;
}

.product-list-container {
    margin-top: 60px;
    padding: 50px;
    position: fixed;
    left: 0;
}

.button-select-currency {
    position: relative;
    bottom: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 50px;
    background-color: var(--primary-black);
    font-size: 19px;
    font-weight: 500;
    border-radius: 15px;
    color: var(--primary-white);
    border-style: none;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.button-select-currency:hover {
    background-color: var(--hover-color);
    transition: 0.2s ease-out;
    cursor: pointer;
}

.adding-product-button {
    margin: 1px 0 10px 10px;
    width: 270px;
    height: 70px;
    background-color: var(--primary-black);
    font-size: 30px;
    font-weight: 500;
    border-radius: 15px;
    color: var(--primary-white);
    border-style: none;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.button-container {
    text-align: center;
}

.adding-product-button:hover {
    background-color: var(--hover-color);
    transition: 0.2s ease-out;
}


.contained-button-file {
    background: black;
}

.upload-product-photo {
    text-align: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--primary-black);
    position: relative;
    display: inline-block;
    width: 255px;
    height: 255px;
    background-color: transparent;
    border: 1px solid #3F3F3F;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s ease-out;
    overflow: hidden;
}

.upload-product-photo p {
    margin-top: 110px;
    margin-right: 10px;
}

.upload-product-photo input[type="file" i] {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(3);
    opacity: 0;
}

.upload-product-photo:hover {
    color: var(--primary-white);
    position: inherit;
    width: 255px;
    height: 255px;
    background-color: var(--primary-black);
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s ease-out;
}


/* FOOTER */

footer {
    background: var(--primary-black);
    width: 100%;
    bottom: 0;
    left: 0;
}


footer .content {
    border-radius: 30px;
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}

.choisi-logo-black-version {
    width: 135px;
    height: 50px;
}

footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content .top .logo-details {
    color: #fff;
    font-size: 30px;
}


.p-label {
    color: var(--primary-white);
}


footer .content .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

footer .content .link-boxes .box {
    width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link-name {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    position: relative;
}

.content .link-boxes .box .link-name:before {
    content: '';
    position: absolute;
    bottom: -5px;
    height: 2px;
    width: 35px;
    background: #fff;
    border-radius: 50px;
}

.content .link-boxes .box li {
    list-style: none;
}

.link-boxes .box .link-name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: var(--primary-white);
}

.content .link-boxes .box li {
    margin: 6px 0;
    list-style: none;
}

.content .link-boxes .box li a {
    color: var(--primary-white);
    font-size: 14px;
    font-weight: 400;
    list-style: none;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease;
}

.content .link-boxes .box li a:hover {
    opacity: 1;
    text-decoration: underline;
}


.content .link-boxes .input-box {
    margin-left: 55px;

}

.link-boxes .input-box input {
    margin-top: 5px;
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid var(--primary-white);
    border-radius: 10px;
    padding: 0 15px;
    font-size: 20px;
    color: var(--primary-white);
}


.link-boxes .in—Éput-box input::placeholder {
    color: var(--primary-white);
    font-size: 20px;
}


.link-boxes .subscribe-button {
    background: var(--primary-white);
    border-radius: 10px;
    outline: none;
    border: none;
    width: calc(100% + 55px);
    height: 40px;
    color: var(--primary-black);
    font-size: 18px;
    font-weight: 400;
    margin: 4px 0;
    opacity: 0.8;
    transition: all 0.4s ease;
}

.link-boxes .subscribe-button:hover {
    opacity: 1;
}

footer .bottom-details {
    margin-top: 30px;
    width: 100%;
    background: var(--primary-additional-black);
}

footer .bottom-details .bottom-text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    justify-content: space-between;
}

.bottom-details .bottom-text span,
.bottom-details .bottom-text a {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.8;
    color: var(--primary-white);
    text-decoration: none;
}

.bottom-details .bottom-text a:hover {
    opacity: 1;
    text-decoration: underline;

}

.bottom-details .bottom-text a {
    margin-right: 10px;
}

@media (max-width: 900px) {
    footer .content .link-boxes {
        flex-wrap: wrap;
    }

    .content .link-boxes .input-box {
        width: 40%;
        margin-top: 10px;
    }
}

@media (max-width: 700px) {
    .content .top .logo-details {
        font-size: 26px;
    }

    .content .top .media-icons a {
        height: 35px;
        width: 35px;
        font-size: 14px;
        line-height: 35px;
    }

    footer .content .link-boxes .box {
        width: calc(100% / 3 - 10px);
    }

    footer .content .link-boxes .input-box {
        width: 60%;
    }

    .bottom-details .bottom-text span,
    .bottom-details .bottom-text a {
        font-size: 12px;
    }
}

@media (max-width: 520px) {
    footer::before {
        top: 145px;
    }

    footer .content .top {
        flex-direction: column;
    }

    .content .top .media-icons {
        margin-top: 16px;
    }

    footer .content .link-boxes .input-box {
        width: 100%;

    }
}


